html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar-row {
  display: flex;
  align-items: center;
}

.action-download mat-icon {
  color: #1976d2;
}
.action-edit mat-icon {
  color: #ff9800;
}
.action-delete mat-icon {
  color: #f44336;
}
